<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head"></head>
<nav th:replace="fragments/nav"></nav>
<body>
<div class="container">
  <h2><span th:text="#{friendship.requests}"></span> </h2>
  <p><span th:text="#{friendship.requests.description}"></span> </p>
  <div class="table-responsive">
    <table class="table table-hover" th:fragment="friendshipRequestsTable" id="friendshipRequestsTable">
      <thead>
      <tr>
        <th scope="col" th:text="#{request.date}"></th>
        <th scope="col" th:text="#{request.emailSender}"></th>
        <th scope="col" th:text="#{request.nameSender}"></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="friendship : ${friendshipsRequestsList}">
        <td th:text="${friendship.requestDate}"></td>
        <td th:text="${friendship.sender.email}"></td>
        <td th:text="${friendship.sender.fullname}"></td>
        <td><a th:href="${'/friendship/accept/' + friendship.id}" th:text="#{request.accept}"></a></td>
      </tr>
      </tbody>
    </table>
    <footer th:replace="fragments/pagination"></footer>
  </div>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>